<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Путь до nuget репозитория. RPS.Devices и RPS.Mifare.Service должны быть на одном уровне -->
    <add key="local" value="../RPS.Devices/nuget" />
  </packageSources>
</configuration>